:root[data-theme="default"] {
    --primary-color: #213555;
    --secondary-color: #3E5879;
    --accent-color: #213555;
    --text-color: #213555;
    --background-color: beige;
    --note-bg: #ffffff;
    --note-border: #213555;
    --note-shadow: rgba(33, 53, 85, 0.2);
    --quote-bg: rgba(33, 53, 85, 0.1);
}

:root[data-theme="midnight-elegance"] {
    --primary-color: #727D73;
    --secondary-color: #D0DDD0;
    --accent-color: #AAB99A;
    --text-color: #D0DDD0;
    --background-color: #213555;
    --note-bg: #3E5879;
    --note-border: #727D73;
    --note-shadow: rgba(245, 239, 231, 0.2);
    --quote-bg: rgba(245, 239, 231, 0.1);
    --quote-text: #D0DDD0;
}

:root[data-theme="sage-garden"] {
    --primary-color: #727D73;
    --secondary-color: #D0DDD0;
    --accent-color: #AAB99A;
    --text-color: #727D73;
    --background-color: #D0DDD0;
    --note-bg: #ffffff;
    --note-border: #727D73;
    --note-shadow: rgba(114, 125, 115, 0.2);
    --quote-bg: rgba(114, 125, 115, 0.1);
    --quote-text: #727D73;
}

:root[data-theme="forest-mist"] {
    --primary-color: #727D73;
    --secondary-color: #D0DDD0;
    --accent-color: #AAB99A;
    --text-color: #525a53;
    --background-color: #AAB99A;
    --note-bg: #D0DDD0;
    --note-border: #727D73;
    --note-shadow: rgba(114, 125, 115, 0.2);
    --quote-bg: rgba(114, 125, 115, 0.1);
    --quote-text: #727D73;
}

  